<h1>{{title}}</h1>

<div class="row">
  <div id="visitors" class="col-xs-12 col-md-4 widget">
  </div>
  <div id="plants" class="col-xs-12 col-md-4 widget">
  </div>
  <div id="weather" class="col-xs-12 col-md-4 widget">
  </div>
</div>

<div class="row">
</div>

