<h1>{{title}}</h1>

<div class="row">
  <div id="visitors" class="col-xs-12 col-md-8 widget">
    <h2>Visitors accross our sites</h2>
    <div class="chart_container"></div>
  </div>

  <div id="temperature" class="col-xs-12 col-md-4 widget">
    <h2>The temperature in our office</h2>
    <div class="chart_container"></div>
  </div>

</div>

<div class="row">
  <div id="plants" class="col-xs-12 col-md-4 widget">
    <h2>How long since the plants where last watered</h2>
    <div class="chart_container">
    <p class="days"></p>
    </div>
  </div>
  <div id="drinks" class="col-xs-12 col-md-4 widget">
    <h2>Drinks in the fridge</h2>
    <div class="chart_container"></div>
  </div>
  <div id="forecast" class="col-xs-12 col-md-4 widget">
    <h2>Weather forecast</h2>
    <div class="chart_container">
      <p class="condition"></p>
      <p class=" temperature"></p>
    </div>
  </div>
</div>

