$weather-icons-font-path: '../../vendor/weather-icons/font';

@font-face {
  font-family: 'weathericons';
  src: url('#{$weather-icons-font-path}/weathericons-regular-webfont.eot');
  src: url('#{$weather-icons-font-path}/weathericons-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('#{$weather-icons-font-path}/weathericons-regular-webfont.woff') format('woff'),
       url('#{$weather-icons-font-path}/weathericons-regular-webfont.ttf') format('truetype'),
       url('#{$weather-icons-font-path}/weathericons-regular-webfont.svg#weathericons-regular-webfontRg') format('svg');
  font-weight: normal;
  font-style: normal;
}